extends layout

block content

  link(rel='stylesheet', href='/stylesheets/brands.css')
  
  div.title-section.text-center
    img.title-image(src="/images/white_fabric.jpg")
    h1.page-title #{title}
    p.page-description.lead.text-muted #{description}
  
  div.container
    div.row

      each brand in brands

        div.col-lg-4
          img.brand-image(src=brand.thumbnail)
          h2 #{brand.name}
          p #{brand.short_description}
          a.btn.btn-block.btn-outline-secondary(href='/brand/' + brand.name role='button') View more
          