extends layout

block content

    link(rel='stylesheet', href='/stylesheets/cart.css')

    div.content
        div.row
            div.col-md-6.col-sm-10.mx-auto
                if cart
                    ul.list-group
                        li.list-group-item.list-group-item-dark
                            div.row
                                div.col-md-6
                                    span.product-title Product
                                
                                div.col-md-3.text-center
                                    span.product-quantity Quantity

                                div.col-md-3
                                    span.product-price Price

                        each product in cart
                            li.list-group-item
                                div.row
                                    div.col-md-6.product-title
                                        span #{product.product.title}
                                    
                                    div.col-md-3.d-flex.justify-content-between
                                        div.btn-group.add-remove-btns
                                            a.btn.btn-sm.btn-outline-danger(href="/product/removefromcart/" + product.product._id) -
                                            a.btn.btn-sm.btn-outline-success(href="/product/addtocart/" + product.product._id) +
                                        strong.product-quantity #{product.quantity}

                                    div.col-md-3.product-price
                                        strong.text-muted € #{product.price}
                                        
                        li.list-group-item.list-group-item-light
                            div.row
                                div.col-md-6.product-title
                                    span Total

                                div.col-md-6.product-price
                                    strong.text-muted € #{total}
                    div.row(style="margin-top: 1em;")
                        div.col-12.content

                            dv.d-flex.justify-content-between
                                div.form-group
                                    label(for="first_name") First name
                                    input#first_name.form-control(type="text", name="first_name", placeholder='John', value=account.first_name)
                                div.form-group
                                    label(for="last_name") Last name
                                    input#last_name.form-control(type="text", name="last_name", placeholder='Smith', value=account.last_name)

                            div.form-group
                                label(for="address") Address
                                input#address.form-control(type="text", name="address", placeholder='63 Fawn Lane Noblesville, IN 46060', value=account.address)

                            div.form-group
                                label(for="address") Address
                                input#address.form-control(type="text", name="address", placeholder='63 Fawn Lane Noblesville, IN 46060', value=account.address)
                        
                else 
                    ul.list-group
                        li.list-group-item
                            span.product-title There are no items in your cart.
